[webuser@control-nohttps://github.com/sandip-chavda-devops/automated-iac-web-monitoring/tree/mainde web_ansible]$ cat ansible.cfg
[defaults]
inventory=./inventory
remote_user=webuser
ask_pass=false

[privilege_escalation]
become=yes
become_method=sudo
become_user=root
become_ask_pass=false
[webuser@control-node web_ansible]$
